[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
openpyxl = "*"
sphinx = "*"
"beautifulsoup4" = "*"
threadpool = "*"
tqdm = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.6"
